<h1>Bonjour, merci de confirmer votre adresse email</h1>

<p>
    Merci de confirmer votre adresse mail en utilisant le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Votre lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Belle journée
</p>
